body {
    background: linear-gradient(135deg, #1a1a1a, #121212);
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-attachment: fixed; /* Mantiene el fondo fijo al desplazarse */
}

.topbar {
    background-color: rgba(31, 31, 31, 0.9); /* Color con transparencia */
    backdrop-filter: blur(15px);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #444; /* Línea en la parte inferior */
}

.topbar button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s; /* Transición suave en el color */
}

.topbar button:hover {
    color: #ffcc00; /* Color al pasar el mouse */
}

.container {
    padding: 20px;
    text-align: center;
}

.separator {
    border: 0;
    border-top: 1px solid #444;
    margin: 20px 10%;
}

.contador {
    margin: 20px 0;
}

.galeria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.foto {
    margin: 10px;
    width: 30%;
    text-align: center;
}

.foto img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra en las imágenes */
    transition: transform 0.3s; /* Transición suave al hacer hover */
}

.foto img:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}
